body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.navigation {
    margin-top: 40px;
    text-align: center;
}

.navigation ul {
    list-style: none;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin: 0 15px;
}

.navigation a {
    text-decoration: none;
    color: #005599;
    font-weight: bold;
}
.navigation a:hover {
    text-decoration: underline;
}


.cover-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
    border: 5px solid orange;
    box-shadow: 5px 5px 12px rgba(186, 5, 5, 0.1);
    text-align: center;
}

.vu-logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    color: #c00;
    font-size: 28px;
    margin: 10px 0 5px;
}

h2 {
    color: #005599;
    margin-bottom: 10px;
}

h3 {
    color: #333;
    margin: 15px 0;
}

.module,
.lecturer {
    font-size: 18px;
    margin-top: 15px;
    font-weight: bold;
    color: #444;
}

.members {
    margin-top: 30px;
    text-align: left;
}

.members table {
    background-color: #005599;
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.members th,
.members td {
    border: 1px solid orange;
    padding: 10px;
    font-size: 16px;
    color: white;
}

.members th {
    background-color:orange;
    font-weight: bold;
    text-align: left;
}
